</html>
</head>
<t>Index Page</t>
</head>
<body bgcolor="yellow">
<p><b>Hello.Welcome to my page</b></p>
<p>How are you doing ?</p>
<p><p><p>Stay tuned for more updates!!!</p></p></p>
<p><p><b>Root says Hello guys :) !!!</b></p></p>
</body>
</html>
